/* ==================== STYLE SIDEBAR ==================== */
.section-sidebar {
    display: flex;
}

.container-sidebar {
    width: 34vh;
    height: 100vh;
    background-color: var(--Background-Secondary-Colors);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 2;
    transition: width 0.3s ease-in-out;
    overflow: hidden;
}

.container-sidebar.collapsed {
    width: 60px;
}

.container-title-sidebar {
    height: 3.2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

.container-title-sidebar h1 {
    font-size: 1.5em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: opacity 0.3s ease-in-out;
}

.container-sidebar .container-sidebar-btn-create-project {
    height: 3.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.container-sidebar-btn-create-project .btn-sidebar-create-project {
    width: 70%;
    height: 80%;
    border-radius: 5px;
    background-color: var(--Button-Primary-Colors);
    color: var(--Background-Secondary-Colors);
    border: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: opacity 0.3s ease-in-out;
}

.container-sidebar-btn-create-project .container-sidebar-btn-create {
    display: none;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 80%;
    border-radius: 5px;
    background-color: var(--Button-Primary-Colors);
}

.container-sidebar-btn-create .sidebar-btn-create-icon {
    font-size: 20px;
    color: var(--Background-Secondary-Colors);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: opacity 0.2s ease-in-out;
}
  
.sidebar-menu {
    position: relative;
    list-style: none;
    padding-left: 10px;
    padding-right: 10px;
}
  
.sidebar-menu a {
    color: var(--Text-Primary-Colors);
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 10px;
}

.sidebar-menu a .sidebar-menu-icon {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.sidebar-menu a span {
    font-size: 1em;
}

.sidebar-menu .sidebar-has-submenu a {
    justify-content: space-between;
}

.sidebar-menu a:hover {
    color: var(--Text-Active-Colors);
}

.sidebar-menu .sidebar-submenu {
    list-style: none;
    padding-left: 30px;
    display: block;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.sidebar-menu .sidebar-submenu li {
    margin-top: 5px;
}

.sidebar-menu-icon {
    font-size: 20px;
}

.sidebar-submenu-icon {
    margin-left: auto;
    transition: transform 0.3s ease;
    font-size: 16px;
}

.sidebar-submenu-icon.open {
    transform: rotate(180deg);
}

.main-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.sidebar-menu-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 3.8em;
    background: none;
    border: none;
    cursor: pointer;
    position: relative;
}

.sidebar-menu-toggle::before,
.sidebar-menu-toggle::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 3px;
    border-radius: 5px;
    background-color: var(--Button-Primary-Colors);
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.sidebar-menu-toggle::before {
    transform: translateY(-4px);
}

.sidebar-menu-toggle::after {
    transform: translateY(4px);
}

.container-sidebar.collapsed .container-title-sidebar h1 {
    display: none;
}

.container-sidebar.collapsed .sidebar-menu-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
}

.container-sidebar.collapsed .container-title-sidebar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.2em;
    padding: 0;
}

.container-sidebar.collapsed .sidebar-menu {
    display: block;
    padding-left: 0;
}

.container-sidebar.collapsed .sidebar-menu li {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-sidebar.collapsed .sidebar-menu a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.container-sidebar.collapsed .sidebar-menu a span {
    display: none;
}

.container-sidebar.collapsed .sidebar-menu-icon {
    font-size: 24px;
    margin-left: 10px;
}

.container-sidebar.collapsed .sidebar-submenu {
    position: absolute;
    top: 55%;
    left: 100%;
    width: 140px;
    padding: 10px;
    display: block;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.container-sidebar.collapsed .sidebar-submenu li {
    list-style: none;
    text-align: left;
}

.container-sidebar.collapsed .sidebar-submenu a {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    padding: 8px;
    color: var(--Text-Primary-Colors);
    text-decoration: none;
}

.container-sidebar.collapsed .sidebar-submenu a:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
.container-sidebar.collapsed .btn-sidebar-create-project {
    display: none;
}

.container-sidebar.collapsed .container-sidebar-btn-create {
    display: flex;
}


/* ==================== STYLE PAGE CONTENT ==================== */
.page-content {
    padding: 20px;
}

/* ======== Responsive Styles ======== */
@media screen and (max-width: 768px) {
    .main-content {
        position: absolute;
        top: 0;
        left: 60px;
        width: calc(100% - 60px);
        z-index: 1;
    }

    .container-sidebar {
        position: relative;
        width: 28vh;
        z-index: 2;
    }

    .container-title-sidebar h1 {
        font-size: 1.2em;
    }

    .container-sidebar-btn-create-project .btn-sidebar-create-project {
        width: 100%;
    }

}

@media screen and (max-width: 480px) {
    .main-content {
        position: absolute;
        top: 0;
        left: 50px;
        width: calc(100% - 50px);
        z-index: 1;
    }

    .container-sidebar {
        position: relative;
        width: 25vh;
        z-index: 2;
    }

    .container-sidebar.collapsed {
        width: 50px;
    }

    .container-title-sidebar h1 {
        font-size: 1em;
    }

    .sidebar-menu-toggle::before,
    .sidebar-menu-toggle::after {
        width: 25px;
        height: 2.5px;
    }
    
    .container-sidebar-btn-create .sidebar-btn-create-icon {
        font-size: 18px;
    }

    .container-sidebar-btn-create-project .btn-sidebar-create-project {
        width: 100%;
    }
    
    .sidebar-menu a span {
        font-size: 0.8em;
    }

    .sidebar-menu .sidebar-submenu li a {
        font-size: 0.8em;
    }

    
    .container-sidebar.collapsed .sidebar-menu-icon {
        font-size: 22px;
    }
}

@media screen and (max-width: 310px) {
    .main-content {
        position: absolute;
        top: 0;
        left: 45px;
        width: calc(100% - 45px);
        z-index: 1;
    }

    .container-sidebar {
        position: relative;
        width: 25vh;
        z-index: 2;
    }
    
    .container-sidebar.collapsed {
        width: 45px;
    }

    .container-sidebar .container-sidebar-btn-create-project {
        height: 3.2em;
        padding-left: 5px;
        padding-right: 5px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    .container-sidebar-btn-create .sidebar-btn-create-icon {
        font-size: 18px;
        color: var(--Background-Secondary-Colors);
    }

    .container-sidebar.collapsed .container-sidebar-btn-create-project {
        padding-left: 0px;
        padding-right: 0px;
    }

}