:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --Background-Primary-Colors :#FAFAFA;

  --Text-Primary-Colors :#9AA4CA;
  --Text-Active-Colors : #1A2142;

  --Button-Primary-Colors : #365CF5;
}